

            
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">

                        
                        <div class="date">{{article.createdAt|date("F d, Y", "Europe/Paris")}}</div>
                        <img class="card-img img-fluid" src="{{asset('images/articles/' ~ article.image) | imagine_filter('card') }}"
                        alt="">
                    </div>
                    <div class="blog-info">
                        <h5>  <a href="{{path('article_show', {'slug' : article.slug })}}">
                            <h6 class="card-title">{{article.title}}</h6>
        
                        </a></h5>
                        <p>{{article.title}}</p>
                        {% for tag in article.tags %}
                    <a href="{{path('article_tag_list', { 'libelle' : tag.libelle })}}"> <span class="badge color-tag">
                            {{tag.libelle}}</a> </span>
                    {% endfor %}
                    <a href="{{path('article_category_list', {'libelle' : article.category.libelle })}}"><span
                        class="badge badge-pill"> {{article.category.libelle}}</span> </a>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>  <a href="{{path('article_show', {'slug' : article.slug })}}">Lire plus</a> </span>
                                <i class="arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
