<div class="col-xs-12  col-md-12  col-sm-12 col-lg-4">

    <div class="card bg-dark text-white shadow-lg my-3 hvr-shrink" style="min-height: 20vh; min-width:20vw;">

        <img class="card-img img-fluid" src="{{asset('images/articles/' ~ article.image) | imagine_filter('card') }}"
            alt="">
        <div class="card-img-overlay d-flex linkfeat ">

            <div class="align-self-end w-100  overlay ">
                <div class="my-3">
                    {% for tag in article.tags %}
                    <a href="{{path('article_tag_list', { 'libelle' : tag.libelle })}}"> <span class="badge color-tag">
                            {{tag.libelle}}</a> </span>
                    {% endfor %}



                    <a href="{{path('article_category_list', {'libelle' : article.category.libelle })}}"><span
                            class="badge badge-pill"> {{article.category.libelle}}</span> </a>

                </div>

                <a href="{{path('article_show', {'slug' : article.slug })}}">
                    <h6 class="card-title">{{article.title}}</h6>

                </a>
                <a class=" btn btn-sm btn-secondary float-right"
                    href="{{path('article_show', {'slug' : article.slug })}}">
                    Lire

                </a>

            </div>

        </div>

    </div>

</div>