{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mx-auto bg-light mb-5">
    <div class="shadow lg  p-4 my-4  text-center ">
        <h2> Nouveautés </h2>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide mb-3" data-ride="carousel">

        <div class="carousel-inner">
            {% for global in globales  %}

            <div class=" carousel-item {% if loop.first %} active {% endif %}">
                <img class="d-block w-100"
                    src="{{asset('images/articles/' ~ global.image) | imagine_filter('detail') }}" alt="slide">
                <div class="carousel-caption text-left d-md-block overlay">
                    <a href="{{path('article_show', {'slug' : global.slug })}}" class="align-self-end">
                        <span class="badge">{{global.category.libelle}}</span>
                        <h4 class="card-title">{{global.title}}</h4>
                        <p class="d-sm-none d-md-block">
                            {{global.introduction}}</p>

                    </a>
                    <a class=" btn btn-sm btn-secondary float-right"
                        href="{{path('article_show', {'slug' : global.slug })}}">
                        Lire

                    </a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>


    <div class="text-center  ">
        <h2 class="shadow lg  p-4 my-4  "> Actualités</h2>
    </div>
    <div class="row my-3 ">
        <div class="card-deck mx-auto ">

            {% for new in news %}

            {% include "shared/_card.html.twig" with {'article' : new} %}

            {% endfor %}


        </div>

    </div>




    <div class="text-center  ">
        <h2 class="shadow lg  p-4 my-4  "> Les séries </h2>
    </div>
    <div class="row my-3 ">
        <div class="card-deck mx-auto ">

            {% for serie in series %}

            {% include "shared/_card.html.twig" with {'article' : serie} %}

            {% endfor %}


        </div>

    </div>




    <div class="text-center ">
        <h2 class="shadow lg  p-4 my-4 "> Les films </h2>
    </div>
    <div class="row my-3">
        <div class="card-deck mx-auto">

            {% for film in films %}

            {% include "shared/_card.html.twig" with { 'article' : film} %}

            {% endfor %}

        </div>

    </div>





    <div class="text-center ">
        <h2 class="shadow lg  p-4 my-4 "> Les animés </h2>
    </div>
    <div class="row my-3">
        <div class="card-deck mx-auto">

            {% for anime in animes %}

            {% include "shared/_card.html.twig" with { 'article' : anime} %}

            {% endfor %}

        </div>

    </div>



</div>







{% endblock %}